* {
  font-family: 'Yeon Sung', cursive;
}

.image {
  background-image: url('https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  width: 300px;
  height: 200px;
  padding-top: 20px;
  text-align: center;
  color: white;
}

.left {
  font-size: 20px;
  font-weight: bold;
}

input {
  height: 20px;
}

button {
  font-size: 15px;
  font-weight: bold;
}

.all {
  width: 300px;
  margin: auto;
}
